[submodule "myAmp_BWidgets/BWidgets"]
	path = myAmp_BWidgets/BWidgets
	url = https://github.com/sjaehn/BWidgets.git
[submodule "myAmp_Xputty/libxputty"]
	path = myAmp_Xputty/libxputty
	url = https://github.com/brummer10/libxputty.git
[submodule "mySPBSynth/BWidgets"]
	path = mySPBSynth/BWidgets
	url = https://github.com/sjaehn/BWidgets
[submodule "mySPBSynth_vintage/BWidgets"]
	path = mySPBSynth_vintage/BWidgets
	url = https://github.com/sjaehn/BWidgets.git
